yt-dlp[default,curl-cffi]>=2025.1.0
ffmpeg-python>=0.2.0
requests>=2.32.0
fastapi>=0.116.0
uvicorn>=0.35.0
PySocks>=1.7.1
PyYAML>=6.0.1
rich>=13.7.0
opencv-python>=4.9.0.80
numpy>=1.26.0
Pillow>=10.3.0
scapy>=2.5.0
tkinterdnd2>=0.3.0

secretstorage>=3.3.3; platform_system == "Linux"
imageio-ffmpeg>=0.5.1
yt-dlp-ejs>=0.8.0
